.flex{
  display:flex
}

.test{
  background-color:rgb(94, 94, 94);
}

.test3{
  background-color:rgb(185, 185, 185);
}

.test2{
  height:85vh;
  overflow-y: auto;
  overflow-wrap: break-word;
}
.click{
  padding:.5em 0;
}

.padding{
  padding:.5em 0;
}