.flex{
  display:flex;
}

.layout{
  background-color:rgb(94, 94, 94);
}

.layout3{
  background-color:rgb(185, 185, 185);
}

.layout2{
  height:85vh;
  overflow-y: auto;
  overflow-wrap: break-word;
}
.click{
  padding:.5em 0;
}

.click:hover{
  cursor: pointer;
}

.padding{
  padding:.5em 0;
}

.fullscreen{
  height:100vh;
}